{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Select a Workout Template</h2>

    <div class="template-buttons">
        <a class="template-btn" href="{{ url_for('main.push_workout') }}">Push Day</a>
    </div>

    <div class="template-buttons">
        <a class="template-btn" href="{{ url_for('main.pull_workout') }}">Pull Day</a>
    </div>

    <div class="template-buttons">
        <a class="template-btn" href="{{ url_for('main.legs_workout') }}">Legs Day</a>
    </div>

    <div class="template-buttons">
        <a class="template-btn" href="{{ url_for('main.upper_workout') }}">Upper Day</a>
    </div>

    <div class="template-buttons">
        <a class="template-btn" href="{{ url_for('main.lower_workout') }}">Lower Day</a>
    </div>

    <div class="template-buttons">
        <a class="template-btn" href="{{ url_for('main.custom_workout') }}">
            Custom Workout
        </a>
    </div>


</div>
{% endblock %}